<footer class="site-footer" style="width: 100vw; margin-left: calc(-50vw + 50%);">
  <data class="u-url" href="{{ '/' | relative_url }}"></data>
  
  <div class="wrapper">
      <div class="footer-content">
          <div class="footer-col footer-col-1">
              <h3>{% if page.lang == 'en' %}Contact{% else %}联系方式{% endif %}</h3>
              <ul class="contact-list">
                  <li>{% if page.lang == 'en' %}{{ site.lab.name }}{% else %}{{ site.lab.name_zh }}{% endif %}</li>
                  <li>{{ site.lab.address }}</li>
                  <li>{% if page.lang == 'en' %}Phone{% else %}电话{% endif %}: {{ site.lab.phone }}</li>
                  <li>{% if page.lang == 'en' %}Email{% else %}邮箱{% endif %}: <a class="u-email" href="mailto:{{ site.lab.email }}">{{ site.lab.email }}</a></li>
              </ul>
          </div>

          <!-- 新增一列用于显示 Clustrmaps -->
          <div class="footer-col footer-col-3">
              <h3>浏览量统计</h3>
              <div id="clstr_globe_container" style="width: 200px; height: 200px; margin: 0 auto;"></div>
          </div>

          <div class="footer-col footer-col-2">
              <h3>{% if page.lang == 'en' %}Follow Us{% else %}关注我们{% endif %}</h3>
              <ul class="social-media-list">
                  {% if site.social.github %}
                      <li><a href="https://github.com/{{ site.social.github }}" target="_blank"><i class="fab fa-github"></i> GitHub</a></li>
                  {% endif %}
                  {% if site.social.twitter %}
                      <li><a href="https://twitter.com/{{ site.social.twitter }}" target="_blank"><i class="fab fa-twitter"></i> Twitter</a></li>
                  {% endif %}
                  {% if site.social.Website %}
                      <li><a href="https://evian-code.github.io/{{ site.social.Website }}" target="_blank"><i class="fab fa-Website"></i> Website: https://evian-code.github.io/</a></li>
                  {% endif %}
                  {% if site.social.linkedin %}
                      <li><a href="https://linkedin.com/in/{{ site.social.linkedin }}" target="_blank"><i class="fab fa-linkedin"></i> LinkedIn</a></li>
                  {% endif %}
              </ul>
          </div>
      </div>
      
      <div class="footer-bottom">
          <p>&copy; {{ 'now' | date: "%Y" }} {% if page.lang == 'en' %}{{ site.lab.name }}{% else %}{{ site.lab.name_zh }}{% endif %}. {% if page.lang == 'en' %}All rights reserved.{% else %}版权所有。{% endif %}</p>
      </div>
  </div>
</footer>
<!-- 添加 Clustrmaps 统计插件 -->
<script type="text/javascript" id="clstr_globe" src="//clustrmaps.com/globe.js?d=sF3mvI0xAx7sNmd7n9EPw8H0l5lE8x38w-vH06L9RVg"></script>
