.language-switcher {
  text-align: right;
  margin-top: 1rem;
}

.lang-link {
  font-weight: bold;
  text-decoration: none;
  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 4px;
}

.lang-link:hover {
  background-color: #f0f0f0;
}

.sidebar {
  padding: 0 !important;
  margin: 0 !important;
  text-align: left !important;
}
.sidebar-block {
  margin: 0 !important;
  padding: 0 !important;
}
.sidebar-block ul {
  padding-left: 0 !important;
  margin-left: 0 !important;
}
.sidebar-block li {
  margin-left: 0 !important;
}
